[Desktop Entry]
Name=CD Catalog
Comment=Catalog your CDs and vinyl records
Exec=/home/user/path-to-save/CD_Catalog/cd_catalog_gtk.py
Icon=/home/user/path-to-save/CD_Catalog/icon.png
Terminal=false
Type=Application
Categories=AudioVideo;Utility;
